# Telegram Bot
BOT_TOKEN=YOUR_BOT_TOKEN_HERE
WEBAPP_URL=https://yourdomain.com

# Server
PORT=3000
NODE_ENV=production

# Database
DATABASE_URL=postgresql://bothost_db_39795a9bd408:ApOI6gLsGgPslWyzBCJ-oPNCoYVfs_npVJxUQLE8WFI@node1.pghost.ru:15652/bothost_db_39795a9bd408
